html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.container {
    background: black;
    width: 100vw;                                /*O tamanho é toda largura WIDTH visivel e toda altura HEIGTH visivel*/
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-gap: 5px;
}
.container > div {
    background: blue;
    width: 120px;
    height: 120px;

    justify-self: center;
    align-Self: center
}

.container > div .minterna {
    background: rgb(255, 251, 0);
    width: 20px;
    height: 20px;

    margin: 50px;
}
